{% extends "base.html" %}
{% load static %}

{% block Title%}
    {{title}}
{% endblock Title%}

{% block page %}
  <section id="jumbo-experience">
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-white text-center">
        <h1 class="display-4" style="margin-top:120px;font-weight: 400;">E X P E R I E N C E S</h1>
      </div>
    </div>
  </section>
{% endblock page%}


{% block contents%}
  <section id="experience">
    <div class="container" style="margin-top: 100px;">
      <h2>BEM</h2>
    </div>
    <div class="row">
      <div class="column">
        <img src="/static/img/bem.jpg" alt="Snow" style="width:100%">
      </div>
      <div class="column">
        <img src="/static/img/364542.jpg" alt="Forest" style="width:100%">
      </div>
      <div class="column">
        <img src="/static/img/364541.jpg" alt="Mountains" style="width:100%">
      </div>
    </div>
    <p>BEM adalah organisasi mahasiswa intra kampus yang merupakan lembaga eksekutif di tingkat pendidikan tinggi.
      Disini saya menjabat menjadi staff Pengembangan Sumber Daya Manusia (PSDM) yang megurus hubungan internal BEM.
    </p>
  
    <h2>COMPFEST</h2>
    <div class="row">
      <div class="column">
        <img src="/static/img/364471.jpg" alt="Snow" style="width:100%">
      </div>
      <div class="column">
        <img src="/static/img/378433.jpg" alt="Forest" style="width:100%">
      </div>
      <div class="column">
        <img src="/static/img/364473.jpg" alt="Mountains" style="width:100%">
      </div>
    </div>
    <p>COMPFEST adalah IT tahunan terbesar dari Fasilkom. 
      Disini, terdapat banyak perusahaan IT yang ikut berpartisipasi dalam acara ini. 
      Saya menjabat sebagai satff Direct Marketing yang bertugas untuk mempromosikan acara COMPFEST
    </p>
  
    <h2>WISUDA GENAP</h2>
    <div class="row">
      <div class="column">
        <img src="/static/img/WISGEN1%20(2).jpg" alt="Snow" style="width:100%">
      </div>
      <div class="column">
        <img src="/static/img/364472.jpg" alt="Forest" style="width:100%">
      </div>
      <div class="column">
        <img src="/static/img/wisgen4.jpg" alt="Mountains" style="width:100%">
      </div>
    </div>
    <p>Wisuda Genap adalah acara syukuran pelepasan bagi kakak tingkat yang sudah lulus pendidikaan kuliahnya. 
      Saya menjabat menjadi Liaison Officer yang bertanggung jawab untuk menjadi penghubung panitia dengan wisudawan dan orang tua wisudawan.
    </p>
    <div class="container-fluid">
    <div class="row text-center">
      <div class="col-12 social-menu">
        <ul>
          <li><a href="https://line.me/ti/p/9Nr1-f7ykWn"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/nadifahsn/?hl=en"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/in/hasna-nadifah-64635b1aa/"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://gitlab.com/nadifaahsn/"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  </section>
{% endblock contents%}