{% extends "base.html" %}
{% load static %}

{% block Title%}
    {{title}}
{% endblock Title%}

{% block page %}
  <section id="jumbo-index">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 text-white text-center">H E L L O,<br>G O O D  &nbsp;P E O P L E!</h1>
      </div>
    </div>
  </section>
{% endblock page%}

{% block contents%}
  <section id="index">
    <div class="container">
      <h2 class="thicker">WHO AM I?</h2>
      <span class="square"></span>
      <p >My Name is Hasna. I am Currently a student of Computer Science at Universitas Indonesia. 
        Now, i am learning how to make a website for the first time. Want to know more about me? Just give a click down here</p>
      <a href="/AboutMe"><button class="common-btn" >Explore More  &#10140;</button></a>
      <div class="line">
        <span class="line-1"></span><br>
        <span class="line-2"></span><br>
        <span class="line-3"></span>
        <br>
      </div>
    </div>
    <div class="container" style="margin-top: 60px; margin-bottom: 60px;">
      <h2 class="thicker">WHAT'S INSIDE THIS WEBSITE?</h2>
      <span class="square"></span>
      <p >Basically, this website will contains anything related to me such as biodata, personal experiences, background, and many more. Hope you enjoy looking my website!</p>
      <div class="line">
        <span class="line-1"></span><br>
        <span class="line-2"></span><br>
        <span class="line-3"></span>
        <br>
      </div>
    </div>
    <br>
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-12 social-menu">
          <ul>
            <li><a href="https://line.me/ti/p/9Nr1-f7ykWn"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/nadifahsn/?hl=en"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/hasna-nadifah-64635b1aa/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://gitlab.com/nadifaahsn/"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock contents%}

