{% extends "base.html" %}
{% load static %}

{% block Title%}
    {{title}}
{% endblock Title%}

{% block page %}
  <section id="jumbo-social">
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-white text-center">
        <h1 class="display-4" style="margin-top:120px; font-weight: 400;">F A V O U R I T E S</h1>
      </div>
    </div>
  </section>
{% endblock page%}

{% block contents%}
  <div class="container text-center" style="margin-top: 100px;">
    <h2 id="border">FOODS</h2>
  </div>
  <section id="cards">
    <div class="container">
      <div class="card">
        <div class="imgBx">
          <img src="/static/img/pizza.jpg">
        </div>
        <div class="content">
          <h2>Pizza</h2>
          <p>Dish of Italian origin consisting of a flattened disk of bread dough</p>
        </div>
      </div>
      <div class="card">
        <div class="imgBx">
          <img src="/static/img/nasi goreng.jpg">
        </div>
        <div class="content">
          <h2>Fried Rice</h2>
          <p>A dish of steamed rice that is stir-fried typically with many fresh ingredients</p>
        </div>
      </div>
      <div class="card">
        <div class="imgBx">
          <img src="/static/img/ramen.jpg">
        </div>
        <div class="content">
          <h2>Ramen</h2>
          <p> Japanese kind of noodle soup and the noodles are made of wheat</p>
        </div>
      </div>
    </div>
  </section>
  <div class="container text-center" style="margin-top: 100px;">
    <h2 id="border">MOVIES</h2>
  </div>
  <section id="cards2">
    <div class="container">
      <div class="card">
        <div class="imgBx">
          <img src="/static/img/harpot.jpg">
        </div>
        <div class="content" id="harry">
          <h2 >Harry Potter</h2>
          <p>A Boy that becomes a student at Hogwarts School and learns magic</p>
        </div>
      </div>
      <div class="card">
        <div class="imgBx">
          <img src="/static/img/itaewon.jpg">
        </div>
        <div class="content">
          <h2>Itaewon Class</h2>
          <p>An ex-convict that opens bar-restaurant in Itaewon</p>
        </div>
      </div>
      <div class="card">
        <div class="imgBx">
          <img src="/static/img/vagabond.jpg">
        </div>
        <div class="content">
          <h2>Vagabond</h2>
          <p>Find out the truth behind mysterious plane crash kills over 211 civilians</p>
        </div>
      </div>
    </div>
    </section>
    <div class="container text-center" style="margin-top: 100px;">
      <h2 id="border">MUSICS</h2>
    </div>
    <section id="cards3">
      <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="/static/img/ed.jpg">
          </div>
          <div class="content">
            <h2>Ed Sheeran</h2>
            <p>Divide - Album</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx">
            <img src="/static/img/dynamite.jpg">
          </div>
          <div class="content">
            <h2>BTS</h2>
            <p>Dinamyte - Single</p>
          </div>
        </div>
        <div class="card">
          <div class="imgBx">
            <img src="/static/img/ariana.jpg">
          </div>
          <div class="content">
            <h2>Ariana Grande</h2>
            <p>Thank u, Next! - Single</p>
          </div>
        </div>
      </div>

    </section>
    <section id="social">
      <div class="container-fluid">
          <div class="row text-center">
            <div class="col-12 social-menu">
              <ul>
                <li><a href="https://line.me/ti/p/9Nr1-f7ykWn"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/nadifahsn/?hl=en"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/hasna-nadifah-64635b1aa/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://gitlab.com/nadifaahsn/"><i class="fa fa-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
    </section>
    
{% endblock contents%}